# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  aws-region: us-east-1

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: linux

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: vikrant
        uses: actions/checkout@v2
        with: 
          repository: VikrantChugh/tasks
          ref: 'master'
          token: ${{ secrets.TOKEN_GITHUB }}
      - name: AWS credentials
        uses: aws-actions/configure-aws-credentials@v1   
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-session-token: ${{secrets.AWS_SESSION_TOKEN}}
          Aws-region: ${{env.aws-region}}
          
      - name: download terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.1.7
      - name: terraform init
        run: terraform init
      - name: terraformer download
        run: |
        wget https://releases.hashicorp.com/terraform-provider-aws/4.51.0/terraform-provider-aws_4.51.0_linux_amd64.zip
      - name: Run Terraformer
        run: |
          terraformer import aws --resources=ec2_instance --filter="Name=id;Value=i-062882f1cd12b56dc" --regions=us-east-1
      # - name: plan
      #   run: terraform plan
      # - name: terraform apply 
      #   run: terraform apply -auto-approve
      # - name: git
      #   run: git init
      
      - name: Commit file
        run: |
          git config --local user.email "Vikrantchughimp@gmail.com"
          git config --local user.name "VikrantChugh"
          git add .
          git commit -a -m "Add changes"
          git push
          
  
      # - name: Push changes
      #   uses: ad-m/github-push-action@master
      #   with:
      #     github_token: ${{ secrets.TOKEN_GITHUB }}
      #     branch: "master"
      # - name: push
      #   run: git push
      
