name: 'Terraformer'
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
    # resource:
    #   description: 'Enter the resource'
      resource:
        type: choice
        required: true
        description: Make a choice of resource
        options:
        - accessanalyzer
        - acm
        - alb 
        - api_gateway
        - appsync
        - auto_scaling
        - batch
        - budgets
        - cloud9
        - cloudformation
        - cloudfront
        - cloudhsm
        - cloudtrail
        - cloudwatch
        - codebuild
        - codecommit
        - codedeploy
        - codepipeline
        - cognito
        - config
        - customer_gateway
        - datapipeline
        - devicefarm
        - docdb
        - dynamodb
        - ebs
        - ec2_instance
        - ecr
        - ecrpublic
        - ecs
        - efs
        - eip
        - eks
        - elasticache
        - elastic_beanstalk
        - elb
        - emr
        - eni
        - es
        - firehose
        - glue
        - iam
        - igw
        - iot
        - kinesis
        - kms
        - lambda
        - logs
        - media_package
        - media_store
        - medialive
        - msk
        - nacl
        - nat
        - opsworks
        - organization
        - qldb
        - rds
        - resourcegroups
        - route53
        - route_table
        - s3
        - secretsmanager
        - securityhub
        - servicecatalog
        - ses
        - sfn
        - sg
        - sns
        - sqs
        - ssm
        - subnet
        - swf
        - transit_gateway
        - vpc
        - vpc_peering
        - vpn_connection
        - vpn_gateway
        - vpn_gateway
        - vpn_gateway
        - wafv2_cloudfront
        - wafv2_regional
        - workspaces
        - xray
      region:
        description: 'Enter the region'
        required: true
      value_of_resource:
        description: 'Enter the value of resource'
        required: true

 

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials Action For GitHub Actions
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ap-south-1 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      - name: Setup Terraformer
        run: |
          wget https://github.com/GoogleCloudPlatform/terraformer/releases/download/$(curl -s https://api.github.com/repos/GoogleCloudPlatform/terraformer/releases/latest | grep tag_name | cut -d '"' -f 4)/terraformer-all-linux-amd64
          chmod +x terraformer-all-linux-amd64
          sudo mv terraformer-all-linux-amd64 /usr/local/bin/terraformer
          wget https://releases.hashicorp.com/terraform/1.4.5/terraform_1.4.5_linux_amd64.zip && unzip terraform_1.4.5_linux_amd64.zip
      - name: Terraform Init
        id: init
        run: terraform init
      - name: Terraformer Import
        run: |
          terraformer import aws --path-pattern="{output}/" --compact=true --regions=${{ github.event.inputs.region }} --resources=${{ github.event.inputs.resource }} --filter="Name=id;Value=${{ github.event.inputs.value_of_resource }}" --profile ""